<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SMZDM_Notifier.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="SMZDM_Notifier.My"
               type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <SMZDM_Notifier.Properties.Settings>
      <setting name="StartupWithSystem" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MinimizeWhenClose" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SilentMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NotifyStayTime" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="KeepMessageAmount" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="LocationToShow" serializeAs="String">
        <value>全部</value>
      </setting>
      <setting name="RefreshInterval" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="NotifyBoxWidth" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="NotifyBoxHeight" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="MinimizeWhenStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoStartFetching" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ChannelUrls" serializeAs="String">
        <value>优惠精选|http://feed.smzdm.com|True;海淘专区|http://haitao.smzdm.com/feed|True;经验盒子|http://jy.smzdm.com/feed|True;晒物广场|http://show.smzdm.com/feed|True;发现频道|http://fx.smzdm.com/feed|True</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
      <setting name="DATA_FILENAME" serializeAs="String">
        <value>data.xml</value>
      </setting>
      <setting name="XSL_FILENAME" serializeAs="String">
        <value>data.xsl</value>
      </setting>
      <setting name="NOTIFY_FILENAME" serializeAs="String">
        <value>notifybox.html</value>
      </setting>
      <setting name="RESULT_HTML_FILENAME" serializeAs="String">
        <value>result.html</value>
      </setting>
      <setting name="RESULT_XML_FILENAME" serializeAs="String">
        <value>result.xml</value>
      </setting>
    </SMZDM_Notifier.Properties.Settings>
    <SMZDM_Notifier.My>
      <setting name="StartupWithSystem" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="MinimizeWhenClose" serializeAs="String">
        <value>yes</value>
      </setting>
      <setting name="SilentMode" serializeAs="String">
        <value>false</value>
      </setting>
    </SMZDM_Notifier.My>
  </userSettings>
</configuration>