<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SMZDM_Notifier.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SMZDM_Notifier.MySettings>
            <setting name="StartupWithSystem" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="MinimizeWhenClose" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="SilentMode" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="NotifyStayTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="KeepMessageAmount" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="LocationToShow" serializeAs="String">
                <value>all</value>
            </setting>
            <setting name="RefreshInterval" serializeAs="String">
                <value>1</value>
            </setting>
        </SMZDM_Notifier.MySettings>
    </applicationSettings>
</configuration>