<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SMZDM_Notifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SMZDM_Notifier.My" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SMZDM_Notifier.Properties.Settings>
            <setting name="StartupWithSystem" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeWhenClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SilentMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotifyStayTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="KeepMessageAmount" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="LocationToShow" serializeAs="String">
                <value>全部</value>
            </setting>
            <setting name="RefreshInterval" serializeAs="String">
                <value>5</value>
            </setting>
        </SMZDM_Notifier.Properties.Settings>
        <SMZDM_Notifier.My>
            <setting name="StartupWithSystem" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="MinimizeWhenClose" serializeAs="String">
                <value>yes</value>
            </setting>
            <setting name="SilentMode" serializeAs="String">
                <value>false</value>
            </setting>
        </SMZDM_Notifier.My>
    </userSettings>
</configuration>